main {
  font-weight: 500;
  font-size: 15px;
}
nav.service {
  background-color: #9b8c5d;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 15px;
}
nav.service .right-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.links a:hover,
.links a.active {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.caret-down .fa:active,
.links a:active {
  color: black;
}

ul.links {
  display: flex;
  list-style: none;
  gap: 10px;
}
.links a {
  text-decoration: none;
  color: black;
}

.service .image {
  width: 50px;
}
.service .image img {
  display: block;
  width: 100%;
}
nav .date {
  font-weight: bold;
  color: white;
  font-size: small;
  margin-top: 4px;
}

main.service {
  background-image: url("/images/lol.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
/* ################## Homepage #################### */
.header-section {
  min-height: 200px;
  background-image: url("/images/bg1.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
section.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin: auto;
}
section.menu-section .card {
  width: 300px;
}
section.menu-section .card-header {
  padding: 0;
}
section.menu-section .card-header img {
  display: block;
  width: 100%;
  min-height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section.menu-section .card-header img:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.9;
}

section .card-body {
  padding: 10px;
}
.footer-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-card:hover {
  cursor: pointer;
}
main.service button {
  font-weight: 500;
  font-size: 14px;
}
/* ################## Homepage #################### */
/* for real dropdown parent has to be relative and child absolute */
.menu {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 40px;
  width: 250px;
  z-index: 1;
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
/* use flex in a otherwise use li below*/
/* .dropdown-menu ul li{
  border-bottom: 1px solid #7c7979;
  padding: 10px;
} */
.dropdown-menu ul li a {
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #7c7979;
  padding: 10px;
}
.dropdown-menu ul li a:hover {
  background-color: #9b8c5d;
  color: white;
}

/* ################# MENU ############### */
section.menu {
  display: flex;
  width: 100%;
}
aside.item-picture {
  display: flex;
  justify-content: center;
  min-width: 40%;

  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: cover;
  min-height: 80vh;
  border: 1px solid white;
  border-radius: 10%;
}
aside.beverages {
  background-image: url("/images/drink1.jpeg");
}
aside.smoothies {
  background-image: url("/images/smoothies1.jpg");
}
aside.meal {
  background-image: url("/images/food.jpg");
}
aside.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 60%;
  border: 1px solid white;
  border-radius: 10%;
  background-color: #9b8c5d;
  padding: 20px;
}
section.menu td,
section.menu th {
  font-size: 13px;
  padding: 5px;
  text-align: center;
}

section.menu thead th {
  font-size: 14px;
}

section.menu table caption,
section.menu table th {
  color: white;
  border-bottom: 1px solid white;
}

section.menu td:hover {
  background-color: #f3f3f3fb;
  cursor: pointer;
}
.items .input-group {
  border: 1px solid white;
}
.items .input-group input {
  background-color: #9b8c5d;
  color: white;
}
.items .input-group .input-text {
  border-left: 1px solid white;
  color: white;
}
.items .input-group .input-icon {
  border-right: 1px solid white;
  color: white;
}

/* ######################## ORDER ################## */

section.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
/* 
#use width 10px to make item have static width this works in wrap as item wont shrink
min-width/height just for the starting size to allow extra to fit in
#parent, set height using vh or % is relative to the browser for item its relative to parent
means it wont wrap using %. the size is reponsive to its parent
#flex for item in container is used to take controll of at what size to grown or shrink

*/
.order-section {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  border: 1px solid #9b8c5d;
  border-radius: 5px;
  flex-wrap: wrap;
  text-align: center;
}
.order-section .bill {
  border-left: 1px solid #9b8c5d;
  width: 20%;
}
.order-section aside.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  justify-content: start;
}
.section-menus,
.order-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.type,
aside.form .order-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  align-self: center;
}
button.btn-outline-service {
  background-color: #7c6c3b;
  border: 1px solid #7c6c3b;
  color: white;
}
button.btn-outline-service:hover {
  background-color: transparent;
  border: 1px solid #7c6c3b;
  color: black;
}
button.btn-outline-service:active {
  background-color: #7c6c3b;
  border: 1px solid #7c6c3b;
  color: white;
}
.add-btn {
  background-color: #7c6c3b;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #7c6c3b;
}
.add-btn:active {
  background-color: #7c6c3b;
  color: white;
}
/* dropdwon-list */
.type.beverage {
  position: relative;
}
.type.meal {
  position: relative;
}
.type.smoothy {
  position: relative;
}
.dropdown-list {
  position: absolute;
  top: 30px;
  width: 250px;
  z-index: 1;
}
.dropdown-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dropdown-list ul li {
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #7c7979;
  padding: 10px;
}
.dropdown-list ul li:hover {
  background-color: #9b8c5d;
  color: white;
  cursor: pointer;
}

/* ########################### Bill ###################### */
.bill,
.bill-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  font-size: 14px;
}
.item-bill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item-header {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.item-items {
  list-style: none;
  border-left: 1px solid #7c6c3b;
  font-size: 12px;
}
