.app-container.service {
  font-weight: 500;
  font-size: 15px;
  /* background-image: url("/images/lol.jpg");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: left; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.app-container.service button {
  font-weight: 500;
  font-size: 14px;
}

nav.service {
  background-color: #9b8c5d;
  overflow: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
}

nav.service .right-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

nav.service .links a:hover,
nav.service .links a.active {
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.caret-down .fa:active,
nav.service .links a:active {
  color: black;
}

nav.service ul.links {
  display: flex;
  list-style: none;
  gap: 10px;
}
nav.service .links a {
  text-decoration: none;
  color: black;
}

nav.service .navbar-date {
  font-weight: bold;
  color: white;
  font-size: small;
  margin-top: 4px;
  margin-right: 100px;
  white-space: nowrap;
}
.toggle-btn {
  display: none;
}

.menu {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 40px;
  width: 250px;
  z-index: 1;
}
.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
/* use flex in a otherwise use li below*/
/* .dropdown-menu ul li{
  border-bottom: 1px solid #7c7979;
  padding: 10px;
} */
.dropdown-menu ul li a {
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #7c7979;
  padding: 10px;
}
.dropdown-menu ul li a:hover {
  background-color: #9b8c5d;
  color: white;
}

/* ############ HOMEPAGE ############### */
.service-home {
  gap: 10px;
}
.header-section {
  min-height: 200px;
  background-image: url("/images/bg1.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

section.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}
section.menu-section .card {
  width: 300px;
}
section.menu-section .card-header {
  padding: 0;
}
section.menu-section .card-header img {
  display: block;
  width: 100%;
  min-height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section.menu-section .card-header img:hover {
  cursor: pointer;
  background-color: white;
  opacity: 0.9;
}

section .card-body {
  padding: 10px;
}
.footer-card {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-card:hover {
  cursor: pointer;
}

/* ######################## ORDER ################## */

section.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}
/* 
#use width 10px to make item have static width this works in wrap as item wont shrink
min-width/height just for the starting size to allow extra to fit in
#parent, set height using vh or % is relative to the browser for item its relative to parent
means it wont wrap using %. the size is reponsive to its parent
#flex for item in container is used to take controll of at what size to grown or shrink

*/
.order-section {
  display: flex;
  justify-content: space-between;
  min-height: 500px;
  border: 1px solid #9b8c5d;
  border-radius: 5px;
  text-align: center;
}
.order-section .bill {
  border-left: 1px solid #9b8c5d;
  width: 20%;
}
aside.order-info {
  width: 300px;
}
.order-section aside.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  justify-content: start;
}
.section-menus,
.order-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.type,
aside.form .order-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
  align-self: center;
}
button.btn-outline-service {
  background-color: #7c6c3b;
  border: 1px solid #7c6c3b;
  color: white;
}
button.btn-outline-service:hover {
  background-color: transparent;
  border: 1px solid #7c6c3b;
  color: black;
}
button.btn-outline-service:active {
  background-color: #7c6c3b;
  border: 1px solid #7c6c3b;
  color: white;
}
.add-btn {
  background-color: #7c6c3b;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.add-btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #7c6c3b;
}
.add-btn:active {
  background-color: #7c6c3b;
  color: white;
}
/* dropdwon-list */
.type.beverage {
  position: relative;
}
.type.meal {
  position: relative;
}
.type.smoothy {
  position: relative;
}
.dropdown-list {
  position: absolute;
  top: 30px;
  width: 250px;
  z-index: 1;
}
.dropdown-list ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.dropdown-list ul li {
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #7c7979;
  padding: 10px;
}
.dropdown-list ul li:hover {
  background-color: #9b8c5d;
  color: white;
  cursor: pointer;
}

/* ########################### Bill ###################### */
.bill,
.bill-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  font-size: 14px;
}
.item-bill {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.item-header {
  display: flex;
  justify-content: start;
  gap: 10px;
}
.item-items {
  list-style: none;
  font-size: 12px;
  text-align: left;
  margin-left: 20px;
}

.loader-service {
  width: 30%;
  position: absolute;
  left: 30%;
  top: 25%;
}
.loader-service img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.5;
  border-radius: 80%;
}
/* table */
section table.order-table {
  border: 1px solid #c6cdc9;
  font-size: 13px;
}
section table.order-table caption,
section table.order-table th {
  color: white;
  border: 1px solid #c6ccc9;
  background-color: #252928d2;
}
section table.order-table tr {
  border-top: 1px solid #c6ccc9;
}
section table.order-table tr:nth-of-type(2n) {
  background-color: #eeebe8d2;
}
section table.order-table .far,
section table.order-table .fa-regular,
section table.order-table .fa {
  font-size: 18px;
}
/* action buttons */
.order-table .fa:hover,
.order-table .far:hover,
.order-table .fa-regular:hover {
  cursor: pointer;
}
.order-table .fa:active,
.order-table .far:active,
.order-table .fa-regular:active {
  color: white;
}
.order-table .fa-trash-can {
  color: #aff5af;
}
.td-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* approve bill */
section.approve-bill {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: auto;
}
.approve-h3 {
  display: none;
}
aside.form-section {
  width: 600px;
  padding: 20px;
}

.loading-page {
  height: 18px;
  background-color: #f4f5f2;
}
/* edit bill */
.item-items.edit-bill-ul {
  display: flex;
  flex-direction: column;
}
.edit-bill-ul li {
  border-bottom: 1px solid #afaeadd2;
  padding: 5px 0px;
}
.edit-bill-ul li:hover {
  background-color: #eeebe8d2;
}
.decreament-btn,
.delete-order-btn,
.edit-order-btn {
  cursor: pointer;
  border: 1px solid #afaeadd2;
  border-radius: 4px;
  padding: 0 8px;
}
.delete-order-btn {
  padding: 0 10px;
}
.decreament-btn:hover,
.delete-order-btn:hover {
  background-color: #ebc9a5d2;
}
.decreament-btn:active,
.delete-order-btn:active {
  background-color: #ffffffd2;
}
.popup-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #faa78ed2;
  color: black;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 38%;
  padding: 2px 20px;
  z-index: 1;
}
.edit-order-btn:hover {
  background-color: white;
}
.edit-order-btn:active {
  background-color: #79f8b2;
  color: white;
}

/* ################# MENU ############### */
section.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

aside.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 60%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 20px;
}
section.menu table {
  border: 1px solid #c6cdc9;
  font-size: 13px;
}
section.menu table caption,
section.menu table th {
  color: white;
  border: 1px solid #c6ccc9;
  background-color: #252928d2;
}
section.menu table tr {
  border-top: 1px solid #c6ccc9;
}
section.menu table tr:nth-of-type(2n) {
  background-color: #eeebe8d2;
}
section.menu table .far,
section.menu table .fa-regular,
section.menu table .fa {
  font-size: 18px;
}
.list-order-item {
  gap: 20px;
}
.list-order-item-btns {
  display: flex;
  gap: 15px;
}
.form-row {
  display: flex;
  justify-content: space-between;
}

/* ############################################ RESPONSIVENESS ############################## */
/* MOBILE  <= 481px*/
@media screen and (max-width: 481px) {
  .toggle-btn {
    display: block;
  }
  nav.service ul.links,
  nav.service .navbar-date {
    display: none;
  }
  nav.service {
    padding: 10px 10px;
  }
  nav.service ul.links {
    display: flex;
    z-index: 1;
    list-style: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* to separe from nav */
    position: absolute;
    top: 45px;
    left: -300px;
    width: 200px;
    height: 100vh;
    background-color: #cfc195;
    box-shadow: 0 40px 60px rgba(rgb(238, 220, 139, 0.1));
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s;
  }
  ul.links li {
    display: flex;
    text-decoration: none;
    border-bottom: 1px solid #7c7979;
    padding: 5px;
    width: 100%;
  }
  /* to refer to toggle */
  nav.service ul.links.active {
    left: 0px;
  }
  .dropdown-menu {
    position: absolute;
    top: 35px;
    width: 190px;
    z-index: 1;
  }
  .dropdown-menu ul li a {
    display: flex;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
  }
  .section-menus,
  .order-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .order-section {
    display: flex;
    flex-direction: column;
    border: 1px solid #9b8c5d;
    border-radius: 5px;
    text-align: center;
  }
  aside.order-info {
    width: 100%;
  }
  .orderr-info {
    width: 100%;
  }
  .type {
    width: 100%;
  }
  .section-menus {
    margin-top: -10px;
  }
  aside.form .order-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    align-self: center;
  }
  .order-buttons {
    margin-top: 20px;
  }
  .content {
    padding: 0 10px;
  }
  .content-header h2 {
    font-size: 20px;
  }

  section.approve-bill {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  aside.form-section {
    width: 100%;
    padding: 20px;
  }
  aside.order-info {
    width: 100%;
  }
  .approve-h3 {
    display: block;
    text-align: center;
    font-size: 16px;
  }
  aside.form-section {
    width: 500px;
  }
  .td-row.list-order-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header-edit-text {
    font-size: 15px;
  }
  .form-row {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

/* SMALL */
@media screen and (max-width: 768px) {
  nav.service .navbar-date {
    display: none;
  }
  nav.service {
    padding: 10px 10px;
  }
  section.approve-bill {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
  }
  aside.form-section {
    width: 100%;
    padding: 20px;
  }
  aside.order-info {
    width: 100%;
  }
  .td-row.list-order-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header-edit-text {
    font-size: 15px;
  }
}
/* TABLET >= 768px*/
@media screen and (min-width: 768px) {
  nav.service {
    padding: 10px 50px;
  }
  nav.service .navbar-date {
    display: none;
  }
}
/* LAPTOP >= 1025px*/
@media screen and (min-width: 1025px) {
  nav.service .navbar-date {
    display: block;
  }
}
