.add-waiter-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 50px;
}
.waiter-header {
  width: 60%;
  margin: auto;
}
.radio-fieldset {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.list-group {
  font-size: 15px;
  padding-left: 5px;
}

table.waiter-table {
  background-color: #d1d6d6ee;
}
table.waiter-table caption,
table.waiter-table th {
  background-color: #4e5050ee;
  color: white;
  border-bottom: 1px solid #707474ee;
}
table.waiter-table tr:nth-of-type(2n) {
  background-color: #f3f3f3fb;
}
.waiter-table th,
.waiter-table td {
  text-align: center;
}
.waiter-table .fa-pencil:hover {
  cursor: pointer;
}
